* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
  background-color: aqua;

  div {
    .container-fluid {
      margin: 0 auto;
      width: 100%;
      min-width: 360px;
      max-width: 1320px;
      display: grid;
    }
  }
}
